*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'open sans';
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
label{ font-size: 1em;}
input{ font-size: 1em; box-shadow: 0 10px 12px rgb(82, 19, 145);
     }
.contenedor-x{
    background: hsla(0, 0%, 95%, 0.486);
    margin: 0;
    padding: 0; position: relative;
}
.w1{
    position: relative;
    width: 250px;
    height: 300px;
    margin: 10px;
}
.w1 .cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .3s;
    border-radius: 10px;
}
.w1 .frente{ 
    transform: perspective(400px)rotateY(0deg);
    box-shadow: 0 10px 12px rgb(82, 19, 145);
    background-color:black;
   
 
}
.w1 .frente img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.w1 .frente h2{
    position: absolute;
    width: 100%;
    height:60px;
    color:black;
    background: rgb(206, 180, 34);
    text-align: center;
    line-height: 25px;
}
.w1 .espalda{
    transform: perspective(400px)rotateY(180deg);
    background:rgb(5, 5, 128);
    padding: 3px;
    display: flex;
    color: rgb(141, 117, 117);
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 7px rgb(51, 75, 153);
    text-align: center;
}
.w1:hover .frente{
    transform: perspective(400px)rotateY(180deg);
}
.w1:hover .espalda{
    transform: perspective(400px)rotateY(360deg);
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }
  .container{
    max-width: 1400px;
    margin: auto;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.portafolio{
    background: #f2f2f2;
}

.titulo {
    color:purple;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,hsla(340, 95%, 50%, 0.76), hsla(317, 45%, 52%, 0.644)), url(../Ange/imagenes/portada2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,hsla(340, 95%, 50%, 0.76), hsla(317, 45%, 52%, 0.644)), url(../Ange/imagenes/portada2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.me-gusta{
    padding: 30px 0 60px 0;
    justify-content: space-evenly;
}
.contenedor-me-gusta{
    display: flex;
    justify-content: space-evenly;
}
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}
.portafolio{
    background: hsla(0, 0%, 95%, 0.616);
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }
    .imagen-port{
        width: 44%;
    }
}
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .imagen-port{
        width: 95%;
    }

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
